<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выбор полей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .scrollable {
            max-height: 400px; /* Высота прокручиваемой области */
            overflow-y: auto; /* Вертикальная прокрутка */
            border: 1px solid #ccc; /* Граница для прокручиваемой области */
            padding: 10px; /* Отступы внутри области */
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg" style="font-family: 'Roboto', sans-serif;">
        <a class="navbar-brand" href="{% url 'company_list' %}">Компании</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'supplier_list' %}">Поставщики</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_files' %}">Список Файлов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'upload_file' %}">Загрузить Файл</a>
                </li>

            </ul>
        </div>
    </nav>
</div>
    <div class="container mt-4">
        <h1 class="text-center">Выбор полей для экспорта</h1>
        <a href="{% url 'output_table_company' company.id %}" class="btn btn-primary mt-3"> Вернуться назад </a>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <h2>Доступные поля</h2>
                    <ul id="sortable" class="list-group scrollable">
                        {% for field in fields %}
                            <li class="list-group-item">
                                <input type="checkbox" name="selected_fields" value="{{ field.0 }}"
                                       {% if field.0 in selected_fields %}checked{% endif %}>
                                {{ field.1 }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <h2>Выбранные поля</h2>
                    <ul id="selected-fields" class="list-group scrollable">
                        {% for field, name in selected_field_names %}
                            <li class="list-group-item">{{ name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Сохранить порядок</button>
        </form>
    </div>

    <script>
        $(function() {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });
    </script>
</body>
</html>
