{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Настройки уникализатора для Drom</h1>
    <a href="{% url 'company_detail' company.id %}">Вернуться назад</a>
    <form method="post" action="{% url 'update_company_drom_settings' company.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="description">Описание:</label>
            <textarea class="form-control" id="description" name="description"
                      rows="4">{{ company.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="tags">Теги:</label>
            <input type="text" class="form-control" id="tags" name="tags" value="{{ company.tags }}">
            <small class="form-text text-muted">Введите теги, разделенные запятыми.</small>
        </div>
        <div class="form-group">
            <label for="promo-photo">Промо фото:</label>
            <input type="text" class="form-control" id="promo-photo" name="promo-photo" value="{{ company.promo_photo }}">
            <small class="form-text text-muted">Введите промо фото, разделенные запятыми.</small>
        </div>
        <div class="form-group">
            <label for="promotions">Акции:</label>
            <textarea class="form-control" id="promotions" name="promotions" rows="4">{{ company.promotion }}</textarea>
        </div>
        <div class="form-group">
            <label for="protector">Протектор (сейчас {{ company.protector }}):</label>
            <select class="form-control" id="protector" name="protector">
                <option value="">Выберите протектор</option>
                <option value="cancel" {% if company.protector == 'cancel' %}selected{% endif %}>Не выбрано</option>
                <option value="all_season" {% if company.protector == 'all_season' %}selected{% endif %}>Всесезонный</option>
                <option value="summer" {% if company.protector == 'summer' %}selected{% endif %}>Лето</option>
                <option value="winter" {% if company.protector == 'winter' %}selected{% endif %}>Зима</option>
                <option value="winter_spikes" {% if company.protector == 'winter_spikes' %}selected{% endif %}>Зима/Шипы</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price_multiplier">Множитель цены (сейчас {{ company.price_multiplier }}):</label>
            <input type="number" step="0.01" class="form-control" id="price_multiplier" name="price_multiplier"
                   value="{{ company.price_multiplier }}">
            <small class="form-text text-muted">Введите множитель цены (например, 1.5).</small>
        </div>

        <div class="form-group">
            <label for="photo_source">Использовать фото из стороннего файла (сейчас {{company.get_other_photo_drom}}):</label>
            <input type="checkbox" id="photo_source" name="photo_source"
                   {% if company.get_other_photo_drom %}checked{% endif %}>
            <small class="form-text text-muted">Если выбрано, фото будут загружены из стороннего файла.</small>
        </div>

        <div>
            <a href="{% url 'sortable_ad' company.id %}">Редактировать порядок объявления</a>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить настройки</button>
    </form>

</div>

{% endblock %}